<h1>Регистрация</h1>

<%= form_with url: signup_path, local: true do |form| %>
  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %>
  </div>
  <div>
    <%= form.submit 'Зарегистрироваться' %>
  </div>
<% end %>

<%= link_to 'Назад', root_path %>
