<h1>Создать новый маршрут</h1>

<%= form_with(model: @trail, local: true) do |form| %>
  <% if @trail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trail.errors.count, "error") %> prohibited this trail from being saved:</h2>
      <ul>
        <% @trail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.submit "Создать маршрут" %>
  </div>
<% end %>

<%= link_to 'Назад', trails_path %>