<!DOCTYPE html>
<html>
<head>
  <title>Ходилка Бродилка</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'shared/navbar' %>

  <div class="container">
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>